body{
    font-family: monospace;
    font-size: 1.5em;
    background-image: url("../static/images3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200%;
    color: white;
    text-shadow: 2px 2px black;
}

#id{
    width: 100%;
}

.cookiediv{
    float: left;
    width: 30%;
}

.gendiv{
    padding-top: 7em;
    float: right;
    width: 70%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

button:hover{
    cursor: pointer;
}

#cookie:hover{
    cursor: pointer;
}

#game{
    padding-top: 2em;
    padding-left: 2em;
}

#cookie:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
