body{
    background-image: url("../static/images3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #F37A1D;
  border-top: 3px solid #F37A1D;   
}

#id{
    width: 100%;
}

.cookiediv{
    float: left;
}

.gendiv{
    padding-top: 10vh;
    float: right;
    text-align: right;
}

button {
    background-color: #3f3f3f;
    border: none;
    box-shadow: 3px 5px #888888;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:active{
    cursor: pointer;
    background-color: black;
}

#cookie:hover{
    cursor: pointer;
}

#game{
    padding-top: 2em;
    padding-left: 2em;

    font-family: monospace;
    font-size: 1.5em;
    background-image: url("../static/images3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200%;
    color: white;
    text-shadow: 2px 2px black;
}

img{
    height: 10vh;
}

#cookie{
    padding-top: 1.5em;
    padding-left: 3em;
    height: auto;
    width: 90%;
    min-width: 100px;
}

#save{
    margin-top: 1.5em;
}
#cookie:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

#cookieBank{
    padding-top: 10vh;
    //padding-left: 2.5em;
}

#gen0p{
    text-align: right;
}

#gen2p{
    text-align: right;
}

#gen1p{
    text-align: right;
}
