body{
    background-image: url("../static/images3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    color: white;
    text-shadow: 2px 2px black;

}

#game{
    padding-top: 2em;
    padding-left: 2em;
}

#cookie:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
