.lb{
    padding-left: 15px;
    padding-right: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    height: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
    height: 50px;
}
