<!DOCTYPE html>
<html>
  <head>
    <title>StereoIsomer Cookie Clicker</title>

  </head>

  <body>
    <h1 id="cookieBank">Cookies: 0</h1>
    <button id="cookie"> Cookie </button>
    <br>
    <ul id="gen">
      <li> <button name="0" id="gen0"> Generator0 </button> <p> Cost: 100 --- Generates 10cps</p> <p id="gen0Num">You have 0 gen0</p> </li>
    </ul>
    <br>
    <button id="upClickVal"> Upgrade Cookie Click Value </button> <p id="upClickValP"> Cost: 50 --- Upgrade Click Value to 2 cps</p>


    <script src="./../utils/cc.js"></script>    

  </body>
</html>
