<!DOCTYPE html>
<html>
  <head>
    <title>StereoIsomer Cookie Clicker</title>

  </head>

  <body>
    <h1 id="cookieBank">Cookies: 0</h1>
    <button id="cookie"> Cookie </button>
    <br><br>

 
    <button name="0" id="gen0"> Generator0 </button> <p> Cost: 100 --- Generates 1cps</p> <p id="gen0Num">You have 0 gen0</p> 
    <button name="1" id="gen1"> Generator1 </button> <p> Cost: 1100 --- Generates 8cps</p> <p id="gen1Num">You have 0 gen1</p>

    <br>
    <button id="upClickVal"> Upgrade Cookie Click Value </button> <p id="upClickValP"> Cost: 50 --- Upgrade Click Value to 2 cps</p>


    <script src="./../utils/cc.js"></script>    

  </body>
</html>
