<!DOCTYPE html>
<html>
  <head>
    <title>StereoIsomer Cookie Clicker</title>
    <link rel="stylesheet" href="../static/cc.css">
  </head>

  <body>
    <h1 id="cookieBank">Cookies: 0</h1>
    <img id="cookie" src="../static/cookie.png">
    <br><br>

 
    <button name="0" id="gen0"> Generator0 </button> <p id="gen0p"> Cost: 100 --- Generates 1cps. You have 0 gen0</p> 
    <button name="1" id="gen1"> Generator1 </button> <p id="gen1p"> Cost: 1100 --- Generates 8cps. You have 0 gen1</p>

    <br>
    <button id="upClickVal"> Upgrade Cookie Click Value </button> <p id="upClickValP"> Cost: 50 --- Upgrade Click Value to 2 cps</p>


    <script src="../static/cc.js"></script>    

  </body>
</html>
