<! DOCTYPE html>
<html>
  
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    
    <link rel="stylesheet" type="text/css" href="style.css"/>
    
    <title>  Home  </title>
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3> {{message}} </h3>
    
    {% endfor %}


    <div class="container-fluid">
      <h1>StereoIsomers</h1>
    </div>

    <div class="blog-masthead">
      <div class="row-10">
	<nav class="nav nav-lt">
	  <a class="nav-link active" href="">Home</a>
	  <a class="nav-link" href="">Game</a>
	  <a class="nav-link" href="">Leaderboard</a>
	  <a class="nav-link" href="">Credits</a>
	  <a class="nav-link" href="">Login</a>
	  <a class="nav-link" href="">Register</a>
	</nav>
      </div>
    </div>

  </head>

  <body>
    
    <br><br>
    
    <div class="jumbotron ">
      <h1 class="display-3">Welcome</h1>
    </div>
    
    <div class="row">
      <div class="col">

	<div class="box1">
	  If you already have an account, sign in here!!!<br><br>
	  <button type="button" class="btn btn-a btn-lg btn-block">
	    <a href="login">Login</a>
	  </button>
	</div>

      </div>
      <div class="col">
	<div class="box2">
	  If you don't have an account, you can create one.
	  <br><br>
	  <button type="button" class="btn btn-a btn-lg btn-block">
	    <a href="account">Register</a>
	  </button>
	</div>
      </div>
      
  </body>
</html>
