<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}
    
    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../static/scrolling-nav.css" rel="stylesheet">
    <link href="../static/login.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <div id="bootstrap-overrides">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Cookie Clicker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
	  <div style="margin-left:0px">
            <ul class="navbar-nav">
              <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="/about">About</a>
              </li>
              <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="/leaderboard">Leaderboard</a>
              </li>
              <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="/credits">Credits</a>
              </li>
	  </div>
        </div>
	<ul class="nav navbar-nav navbar-right">
	  <li>
	    <a style="padding-right: 20px" href="/game">Play</a>
	    <a style="padding-right: 20px" href="/login">Login</a>
	    <a style="padding-right: 20px" href="/account">Register</a>
	  </li>
	</ul>
      </div>
    </nav>
    
    <div style="padding-top: 100px">
      <div class="text-center">
      {% set messages = get_flashed_messages() %}
      {% for message in messages %}
      <h3> {{message}} </h3>
      {% endfor %}
      </div>

      <div class="login">
      <div class="login-screen">
	<div class="app-title">
	  <h1>Register</h1>
	</div>

	<form class="signin" method = "post" action ="/accountSubmit">
	  <div class="login-form">
	    <div class="control-group">
	      <input type="text" name="newUsername" class="login-field" placeholder="username" id="login-name" required>
	      <label class="login-field-icon fui-user" for="login-name"></label>
	    </div>
	    
	    <div class="control-group">
	      <input type="password" name="newPassword" class="login-field" placeholder="password" id="login-pass" required>
	      <label class="login-field-icon fui-lock" for="login-pass"></label>
	    </div>
	    
	    <input type="submit" value="submit" class="btn btn-primary btn-large btn-block">

	    <a class="login-link" href="/login">Already have an account?</a>
	  </div>
	</form>
      </div>
      </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Team StereoIsomers 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../static/scrolling-nav.js"></script>

  </body>

</html>
